.minimatica-text textarea {
  display: block;
  width: 500px;
  height: 300px; }
.console {
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0;
  font-family: "IBM Plex Mono"; }
  .console li {
    display: block;
    margin-bottom: 10px; }
.minimatica-editor {
  font-family: "IBM Plex Mono";
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  resize: none; }
.foldable-section-list {
  max-height: 650px;
  overflow: auto;
  border: 1px solid #0094cc; }
.foldable-section {
  height: 40px;
  overflow: hidden;
  transition: .2s; }
  .foldable-section.expanded {
    height: 450px; }
    .foldable-section.expanded .foldable-section-content {
      overflow-y: auto;
      height: 410px; }
  .foldable-section h2 {
    font-size: 20px;
    font-weight: normal;
    font-family: "IBM Plex Mono";
    margin: 0;
    padding: 0 0 0 16px;
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgba(64, 196, 255, 0.3);
    border-bottom: 2px solid #0094cc; }
.foldable-section-item h3 {
  margin: 0;
  padding: 0 0 0 32px;
  font-size: 16px;
  line-height: 30px;
  background-color: #f5f5f5; }

.foldable-section-item pre {
  margin: 8px 0;
  padding: 0 0 0 32px; }

.foldable-section-item p {
  margin: 0 0 8px;
  padding: 0 16px;
  font-size: 15px; }
.main--2-cols {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: calc(1360px / 2) calc(1360px / 2);
  grid-column-gap: 40px; }
body {
  font-family: "Roboto"; }

header {
  margin-bottom: 50px;
  font-family: "IBM Plex Mono"; }
  header .header-content--wrapper {
    margin: 0 auto;
    max-width: 1400px; }
    header .header-content--wrapper h1 {
      text-transform: uppercase;
      font-size: 40px; }
      header .header-content--wrapper h1 span {
        font-size: 70px;
        color: #0094cc; }
